<body x-data="{ sidebarOpen: false }" class="admin-shell min-h-screen text-slate-900">
  <div class="min-h-screen lg:pl-72">
    @include('partials/sidebar')
    @include('partials/topbar')
    <main class="px-4 py-6 lg:px-8">
      @include('partials/flash')
